before_install:
  - gem install bundler
before_script:
  # enable ipv6 see: https://github.com/travis-ci/travis-ci/issues/8361#issuecomment-350497804
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6';
    fi
language: ruby
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
script:
  - "bundle exec shindont"
  - "bundle exec rake spec[progress]"
sudo: false
